<div ng-controller="boardGame as ctrl" class="noselect">
    <!-- demo link on the far left -->
    <button demo-widget id="boardGameDemo" ng-click="ctrl.startDemo()" current-chip="ctrl.currentChip" 
       demo-object="ctrl.demoObject" ng-show="!ctrl.displayForMobile()">Demo</button>
    <!-- message box and the new game link -->  
    <div ng-class="ctrl.getMsgContainerStyle()">
        <div msg-widget ng-class="ctrl.getMessageStyle()" msg-object="ctrl.msgObject" 
             display-for-mobile="ctrl.displayForMobile()">
        </div>
        <button ng-click="ctrl.newGame(false)" ng-disabled="ctrl.demoObject.inProg">New Game</button>
    </div>
    <br>
    <!-- two chip bowls -->
    <div class="center cfcontainer" ng-show="!ctrl.displayForMobile()">
        <div id="blackPot" class="pot leftPot" >
            <div chip-widget ng-repeat="chip in ctrl.blackChips" chip-data="chip" id="{{chip.id}}" 
                 current-chip="ctrl.currentChip"></div>
        </div>
         <div id="whitePot" class="pot rightPot">
            <div chip-widget ng-repeat="chip in ctrl.whiteChips" chip-data="chip" id="{{chip.id}}" 
                 current-chip="ctrl.currentChip"></div>
        </div>
    </div>
    <!-- game board -->
    <table ng-class="ctrl.getTableStyle()" >
        <tr ng-repeat="a_row in ctrl.cells">
            <td cell-widget ng-repeat="cell in a_row"  style-width="{{ctrl.cellWidth}}" 
                style-height="{{ctrl.cellHeight}}" id="{{cell.id}}" cell-data="cell" 
                get-chip="ctrl.getChip(chipId)" set-current-chip="ctrl.setCurrentChip(chip, prevParent)"
                ng-click="ctrl.placeChip(cell)"></td>
        </tr>
    </table>
</div>


